
html, body {
    margin:0;
    padding:0;
}

body {
    text-align: center;
    font-family: 'Arvo', serif;
    font-family: 'Roboto', sans-serif;
}



.choice img {
    width: 200px;
    height: 200px;
    cursor: url(), pointer;
    border-radius: 100%;
    border: solid 10px transparent;
    transition: transform .2s ease-in-out;
}

.choice img:hover {
    border-color: grey;
    transform: rotate(45deg);
}

.choice:hover {
    color: green;
    cursor: url(), pointer;
}

.title {
    padding: 0;
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 900;
    background-color: #eee;
}

.uibuttons {
    display: flex;
    gap: 100px;
    justify-content: center;
}



.choice {
    max-width: 200px;
}

.text {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

.display {
    margin-top: 100px;
    font-size: 36px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;

}

.result {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 36px;
    font-weight: 900;
}

.score {
    font-size: 30px;
    padding-top: 100px;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
  }